body, html{
  background-color: #e1e1de;
  font-family: "Montserrat-Medium", Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  align-items: center;
  justify-content: center;
}

p {
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 0;
}

header, section, div {
  max-width: 100%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 ;
  box-sizing: border-box;
}

/* ---------- HEADER ---------- */
.header {
  display: grid;
  grid-template-columns: auto 60% 10px;
  align-items: center;
  border-bottom: 3px solid black;
  padding: 2vh;
  width: 100%;
  box-sizing: border-box;
}

.revenir {
  font-weight: 800;
  font-size: 25px;
}

.nav {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: right;
}

.nav a {
  color: #000;
  text-decoration: none;
}

/* ----- ANIMATION FONT ---- */
.nav a:hover {
  animation: titre 1s infinite;
}

@keyframes titre {
  0%, 100% {
    font-family: "Rubik", sans-serif;
    letter-spacing: 0;
  }
  33% {
    font-family: "Goma", sans-serif;
    letter-spacing: 1px;
  }
  66% {
    font-family: "Blob", sans-serif;
    letter-spacing: -1px;
  }
}